---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-110.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Mon, 22 Feb 2016 07:59:58 GMT
- request:
    method: get
    uri: https://api.athenahealth.com/preview1/195900/providers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 5afb19fe-e4c3-43e1-b38a-512323595964
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: '{"providers":[{"firstname":"Terry","specialty":"Internal
        Medicine","acceptingnewpatients":"false","providertypeid":"MD","billable":"false","ansinamecode":"Allopathic
        & Osteopathic Physicians : Family Practice (207Q00000X)","lastname":"Ahmad","providerid":"86","ansispecialtycode":"207Q00000X","hideinportal":"false","entitytype":"Person","providertype":"MD"}],"totalcount":1}'
      effective_url: https://api.athenahealth.com/preview1/195900/providers
  recorded_at: Mon, 22 Feb 2016 07:59:58 GMT
recorded_with: VCR 3.0.1
