---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/configuration/facilities?name=New%20York&departmentid=1&ordertype=PRESCRIPTION
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer qseyzkequ9nbaa7ykccexekf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 59a602e7-5eae-47dd-95b1-9d9745d28bda
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
    body:
      encoding: UTF-8
      string: '[{"distance":"122.4","state":"NY","address":"5 E 84TH ST","name":"GERALD
        ZELIKOVSKY","facilityid":"11242953","faxnumber":"(212) 744-8619","city":"NEW
        YORK","zipcode":"29425","phonenumber":"(212) 744-0700"},{"distance":"215.7","state":"FL","address":"120
        E NEW YORK AVE","name":"RITTERS TOWNE PHARMACY","facilityid":"10939249","faxnumber":"(386)
        734-1004","pharmacytype":"RETAIL","city":"DELAND","zipcode":"32724","phonenumber":"(386)
        734-6666"},{"distance":"215.7","state":"FL","address":"300 E NEW YORK AVE","name":"WALGREENS
        DRUG STORE 13678","facilityid":"10955326","faxnumber":"(386) 943-4259","pharmacytype":"RETAIL","city":"DELAND","zipcode":"32724","phonenumber":"(386)
        943-4011"},{"distance":"221.5","state":"FL","address":"1050 W NEW YORK AVE","name":"WINN
        DIXIE #2343","facilityid":"10829857","faxnumber":"(386) 740-1333","pharm[...]
