---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/departments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 7884ad89-4e23-46f2-8fdd-c67bb79b7ab4
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
    body:
      encoding: UTF-8
      string: '{"next":"\/v1\/195900\/departments?limit=1&offset=1","totalcount":11,"departments":[{"creditcardtypes":["AX","DS","MC","VI"],"medicationhistoryconsent":"false","timezoneoffset":-5,"providergroupid":"1","singleappointmentcontractmax":"3000","state":"ME","portalurl":"1959-1-practice-home-url","city":"NORTH
        YARMOUTH","placeofservicefacility":"false","oneyearcontractmax":"1500","latitude":"44.41919","providergroupname":"Downtown
        Health Group","doesnotobservedst":"false","departmentid":"145","address":"8762
        STONERIDGE CT","placeofservicetypeid":"11","longitude":"-69.02124","clinicals":"ON","timezone":-5,"patientdepartmentname":"Belfast
        Primary Care","name":"CENTRAL CITY INPT","placeofservicetypename":"OFFICE","phone":"(555)
        482-2453","ecommercecreditcardtypes":["AX","DS","MC","VI"],"zip":"04097","communicatorbrandid":"1"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/departments
  recorded_at: Tue, 16 Feb 2016 20:53:12 GMT
recorded_with: VCR 3.0.1
