---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/insurancepackages?insuranceplanname=Wal&memberid=asd&stateofcoverage=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - f0d56e6a-de6a-44fc-b0eb-d5973259819d
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-118.mashery.com
    body:
      encoding: UTF-8
      string: '{"insurances":[{"affiliations":["AT&T","Bronze","Caterpillar","Chevron","Choice","Choice
        Plus","Compass","Compass Plus","Delta","Evercare","Gold","HSA","Health Exchange","International","Kirby
        Corporation","NTCA","NTCA Benefits","Optimum Choice","Options","Options PPO","PacifiCorp","Platinum","Railroad
        Employees National Health & Welfare Fund","Raytheon","Silver","UHC","United
        Healthcare","Walmart"],"insuranceplanname":"United Healthcare (PPO)","insurancepackageid":"10459","addresslist":["PO
        BOX 740800  ATLANTA GA 30374-0800","PO BOX 740831  ATLANTA GA 30374-0831","PO
        BOX 740803  ATLANTA GA 30374-0803","PO BOX 981502  EL PASO TX 79998-1502","PO
        BOX 30555  SALT LAKE CITY UT 84130-0555","PO BOX  31375  SALT LAKE CITY UT
        84131","PO BOX 30985  SALT LAKE CITY UT 84130-0985","PO BOX 869045  PLANO
        TX 75086-9045","PO BOX 740372  ATLANTA GA 30374-0372","PO BOX 740111  ATLANTA
        GA 30374-0111","PO BOX 31361  SALT LAKE CITY UT 84131-0361","PO [...]
