---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/appointmenttypes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 96b272b7-5c32-44e6-b63f-420c39419331
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-109.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":1,"appointmenttypes":[{"shortname":"OV","name":"Office
        Visit","duration":"10","patientdisplayname":"Office Visit","appointmenttypeid":"2","generic":"true","patient":"true","templatetypeonly":"false"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/appointmenttypes
  recorded_at: Mon, 22 Feb 2016 09:15:22 GMT
recorded_with: VCR 3.0.1
