---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/1/practiceinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - cb9c8b2c-1187-4f54-9dd7-8daa7457cabd
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-107.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":1,"practiceinfo":[{"hascommunicator":"true","iscoordinatorsender":"false","iscoordinatorreceiver":"false","hasclinicals":"true","name":"athenahealth
        MDP Sandbox","hascollector":"true","practiceid":"195900"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/1/practiceinfo
  recorded_at: Mon, 15 Feb 2016 12:51:04 GMT
recorded_with: VCR 3.0.1
