---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-108.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Mon, 22 Feb 2016 09:15:22 GMT
- request:
    method: get
    uri: https://api.athenahealth.com/preview1/195900/appointmenttypes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 96b272b7-5c32-44e6-b63f-420c39419331
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-109.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":1,"appointmenttypes":[{"shortname":"OV","name":"Office
        Visit","duration":"10","patientdisplayname":"Office Visit","appointmenttypeid":"2","generic":"true","patient":"true","templatetypeonly":"false"}]}'
      effective_url: https://api.athenahealth.com/preview1/195900/appointmenttypes
  recorded_at: Mon, 22 Feb 2016 09:15:22 GMT
recorded_with: VCR 3.0.1
