---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-115.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Tue, 16 Feb 2016 10:52:59 GMT
- request:
    method: get
    uri: https://api.athenahealth.com/preview1/195900/departments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - fda44f26-1fc3-4c4d-9fa4-b84d43ca489f
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-109.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":11,"departments":[{"creditcardtypes":["AX","DS","MC","VI"],"medicationhistoryconsent":"false","timezoneoffset":-5,"providergroupid":"1","singleappointmentcontractmax":"3000","state":"ME","portalurl":"1959-1-practice-home-url","city":"NORTH
        YARMOUTH","placeofservicefacility":"false","oneyearcontractmax":"1500","latitude":"44.41919","providergroupname":"Downtown
        Health Group","doesnotobservedst":"false","departmentid":"145","address":"8762
        STONERIDGE CT","placeofservicetypeid":"11","longitude":"-69.02124","clinicals":"ON","timezone":-5,"patientdepartmentname":"Belfast
        Primary Care","name":"CENTRAL CITY INPT","placeofservicetypename":"OFFICE","phone":"(555)
        482-2453","ecommercecreditcardtypes":["AX","DS","MC","VI"],"zip":"04097","communicatorbrandid":"1"},{"creditcardtypes":["AX","DS","MC","VI"],"medicationhistoryconsent":"false","timezoneoffset":-5,"providergroupid":"1","singleappointmentcontractmax":"3000","state":"NY","portalurl":"1959-1-practice-home-url","city":"BALLSTON
        SPA","placeofservicefacility":"false","oneyearcontractmax":"1500","providergroupname":"Downtown
        Health Group","doesnotobservedst":"false","departmentid":"162","address":"8762
        STONERIDGE CT","placeofservicetypeid":"11","clinicals":"OFF","timezone"[...]
