---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/195900/appointments/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 9a7e7c5a-7508-4516-a78f-8bfa20fd745e
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-107.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true"}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/appointments/changed/subscription
  recorded_at: Thu, 21 Jul 2016 16:38:06 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/appointments/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4af7sdzwrrck2et6j8rqs9sj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 7089fb64-fdb5-4cc1-8903-5a845ac97318
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-58.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE","subscriptions":[{"eventname":"ScheduleAppointment"},{"eventname":"CheckIn"},{"eventname":"CheckOut"},{"eventname":"UpdateAppointment"},{"eventname":"CancelAppointment"},{"eventname":"FreezeAppointment"},{"eventname":"UnfreezeAppointment"},{"eventname":"DeleteAppointment"},{"eventname":"AddAppointmentSlot"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/appointments/changed/subscription
  recorded_at: Wed, 11 Mar 2020 15:05:45 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/123/appointments/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4af7sdzwrrck2et6j8rqs9sj
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 5525a45b-3820-4dcb-8043-c70995a7e4a2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-71.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"INACTIVE","subscriptions":[]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/123/appointments/changed/subscription
  recorded_at: Wed, 11 Mar 2020 15:23:35 GMT
recorded_with: VCR 3.0.1
