---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/appointments/appointmentreminders?startdate=02%2F27%2F2016&enddate=06%2F27%2F2016&departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 9cd00d0b-8f36-427c-8120-a312f69ea400
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":3,"reminders":[{"departmentid":"1","approximatedate":"02\/27\/2016","patientid":"3422","appointmentreminderid":"14291"},{"departmentid":"1","approximatedate":"06\/15\/2016","patientid":"22767","appointmentreminderid":"14311"},{"departmentid":"1","approximatedate":"06\/02\/2016","patientid":"3282","appointmentreminderid":"13492","status":"Scheduled","appointmenttypeid":"4","providerid":"71"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/appointments/appointmentreminders?startdate=02%2F27%2F2016&enddate=06%2F27%2F2016&departmentid=1
  recorded_at: Fri, 10 Jun 2016 12:24:19 GMT
recorded_with: VCR 3.0.1
