---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-110.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Mon, 22 Feb 2016 07:59:58 GMT
- request:
    method: get
    uri: https://api.athenahealth.com/preview1/195944/appointmenttypes/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 01c075b8-d6ef-4620-9140-86fa5cb0610a
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-127.mashery.com
    body:
      encoding: UTF-8
      string: '[{"shortname":"OV","name":"Office Visit","duration":"10","patientdisplayname":"Office
        Visit","appointmenttypeid":"2","generic":"true","patient":"true","templatetypeonly":"false"}]'
      effective_url: https://api.athenahealth.com/preview1/195944/appointmenttypes/2
  recorded_at: Fri, 13 May 2016 17:59:19 GMT
recorded_with: VCR 3.0.1
