---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/appointments/186396/insurances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 36e0896e-708a-42af-8a15-a3731be858ce
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
    body:
      encoding: UTF-8
      string: '{"insurances":[{"insurancepolicyholdercountrycode":"USA","sequencenumber":"1","insuranceplanname":"THE
        1199 NATIONAL BENEFIT FUND (PPO)","insurancetype":"Commercial","insurancepolicyholderlastname":"TEST","insurancephone":"(646)
        473-7160","insuranceidnumber":"2324252514","relationshiptoinsuredid":"1","insuranceid":"64","insurancepolicyholder":"TEST
        TEST","insurancepolicyholderdob":"05\/31\/1994","eligibilitylastchecked":"06\/07\/2016","relationshiptoinsured":"Self","eligibilitystatus":"Unverified","insurancepolicyholderfirstname":"TEST","insurancepolicyholderaddress1":"TEST","insurancepackageid":"49875","insurancepolicyholdersex":"M","eligibilityreason":"Athena","insurancepolicyholdercountryiso3166":"US","ircname":"1199
        National Benefit Fund"}],"totalcount":1}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/appointments/186396/insurances
  recorded_at: Thu, 16 Jun 2016 07:30:47 GMT
recorded_with: VCR 3.0.1
