---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-106.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Tue, 16 Feb 2016 12:43:24 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/appointments/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 9a7e7c5a-7508-4516-a78f-8bfa20fd745e
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-107.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true"}'
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/changed/subscription
  recorded_at: Thu, 21 Jul 2016 16:38:06 GMT
recorded_with: VCR 3.0.1
