---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195944/appointmenttypes/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 01c075b8-d6ef-4620-9140-86fa5cb0610a
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-127.mashery.com
    body:
      encoding: UTF-8
      string: '[{"shortname":"OV","name":"Office Visit","duration":"10","patientdisplayname":"Office
        Visit","appointmenttypeid":"2","generic":"true","patient":"true","templatetypeonly":"false"}]'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195944/appointmenttypes/2
  recorded_at: Fri, 13 May 2016 17:59:19 GMT
recorded_with: VCR 3.0.1
