---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/appointments/booked?departmentid=1&startdate=03%2F30%2F2016&enddate=04%2F30%2F2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - b56ad499-3bd7-4a05-8f8b-56a78e5b7a15
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-106.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":103,"appointments":[{"date":"04\/03\/2016","appointmentid":"695324","starttime":"00:00","departmentid":"1","appointmentstatus":"f","scheduledby":"API-2530","patientid":"2","duration":"10","templateappointmenttypeid":"2","lastmodifiedby":"API-2530","copay":0,"appointmenttypeid":"2","lastmodified":"04\/02\/2016
        20:00:54","appointmenttype":"Office Visit","providerid":"87","scheduleddatetime":"04\/02\/2016
        20:00:54","coordinatorenterprise":"false","templateappointmentid":"695324","patientappointmenttypename":"Office
        Visit"},{"date":"04\/02\/2016","appointmentid":"695050","starttime":"00:51","departmentid":"1","appointmentstatus":"f","scheduledby":"API-1525","patientid":"2","duration":"10","templateappointmenttypeid":"2","lastmodifiedby":"API-1525","copay":0,"appointmenttypeid":"2","lastmodified":"04\/01\/2016
        20:51:03","appointmenttype":"Office Visit","providerid":"87","scheduleddatetime":"04\/01\/2016
        20:51:03","coordinatorenterprise":"false","templateappointmentid":"695050"[...]
