---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Thu, 10 Mar 2016 14:11:36 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/appointments/665839?patientid=1&appointmenttypeid=82
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 35f54702-6964-4510-82b3-250919bced40
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"detailedmessage":"The appointment ID is already booked or is not marked as being available to be scheduled via the API.","error":"That appointment time was already booked or not available for booking."}
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/665839?patientid=1&appointmenttypeid=82
  recorded_at: Thu, 10 Mar 2016 14:11:44 GMT
recorded_with: VCR 3.0.1
