---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-110.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Fri, 11 Mar 2016 11:35:30 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/appointments/659312?patientid=1&reasonid=563
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - c4ca2932-6861-4efa-b419-23c4a7d493da
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-125.mashery.com
    body:
      encoding: UTF-8
      string: '[{"date":"03\/14\/2016","appointmentid":"659312","starttime":"08:00","departmentid":"1","appointmentstatus":"f","patientid":"1","duration":"15","appointmenttypeid":"42","appointmenttype":"Established","providerid":"71","patientappointmenttypename":"Established
        Visit"}]'
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/659312?patientid=1&reasonid=563
  recorded_at: Fri, 11 Mar 2016 11:35:33 GMT
recorded_with: VCR 3.0.1
