---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-105.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Thu, 10 Mar 2016 13:54:57 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/appointments/663313?patientid=1&appointmenttypeid=82
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 1cca2ed4-b05f-413c-90bf-9b080421b68f
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
    body:
      encoding: UTF-8
      string: '[{"date":"03\/11\/2016","appointmentid":"663313","starttime":"12:00","departmentid":"1","appointmentstatus":"f","patientid":"4923","duration":"15","appointmenttypeid":"82","appointmenttype":"Any
        15","providerid":"71","patientappointmenttypename":"Established Patient"}]'
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/663313?patientid=1&appointmenttypeid=82
  recorded_at: Thu, 10 Mar 2016 13:55:01 GMT
recorded_with: VCR 3.0.1
