---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Thu, 10 Mar 2016 12:15:02 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/appointments/665839?patientid=1&reasonid=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 76891cad-b09d-4529-80df-56bb16ffd3d6
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"detailedmessage":"An appointment type or reason must be provided:  1, 71, ","error":"Additional fields are required."}
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/665839?patientid=1&reasonid=
  recorded_at: Thu, 10 Mar 2016 12:15:02 GMT
recorded_with: VCR 3.0.1
