---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-125.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 06 Apr 2016 09:33:04 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/appointments/659324?appointmenttypeid=82&patientid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 8c51f219-fcb9-45f2-b4df-3f7c0fc77ed4
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-119.mashery.com
    body:
      encoding: UTF-8
      string: '[{"date":"04\/07\/2016","appointmentid":"659324","starttime":"08:00","departmentid":"1","appointmentstatus":"f","patientid":"1","duration":"15","appointmenttypeid":"82","appointmenttype":"Any
        15","providerid":"71","patientappointmenttypename":"Established Patient"}]'
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/659324?appointmenttypeid=82&patientid=1
  recorded_at: Wed, 06 Apr 2016 09:33:08 GMT
recorded_with: VCR 3.0.1
