---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"75gn886n8xf3f77c884c4ujp","token_type":"bearer","expires_in":3600,"refresh_token":"afk4gsdybe7tksxehe3vyxs2"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Thu, 14 Jul 2016 09:53:09 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/appointments/150397/checkin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 75gn886n8xf3f77c884c4ujp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - c6352b3d-7c52-4e38-b632-ab20cbc5f8f7
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true"}'

      effective_url: https://api.athenahealth.com/preview1/195900/appointments/150397/checkin
  recorded_at: Thu, 14 Jul 2016 09:53:09 GMT
recorded_with: VCR 3.0.1
