---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/claims/301
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fqeujzxvkqmac8637zr2djpb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - cbd4ab4f-ae0f-46ba-8b33-1d4e2c572006
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-61.mashery.com
    body:
      encoding: UTF-8
      string: '{"procedures":[{"chargeamount":"225","proceduredescription":"INITIAL
        OFFICE VISIT LIMITED","transactionid":"2801","procedurecode":"99202"}],"claimcreateddate":"06\/22\/2016","transactiondetails":{"2801":"225"},"patientpayer":{"status":"CLOSED"},"billedproviderid":27,"claimid":"301","primaryinsurancepayer":{"primarypatientinsuranceid":1442,"status":"CLOSED"},"billedservicedate":"06\/22\/2016","departmentid":1,"diagnoses":[{"diagnosiscategory":"SYMPTOMS
        AND SIGNS INVOLVING THE DIGESTIVE SYSTEM AND ABDOMEN (R10-R19)","diagnosisid":"728","diagnosisrawcode":"R10.13","diagnosiscodeset":"ICD10","diagnosisdescription":"Epigastric
        pain","deleteddiagnosis":"false"}],"patientid":1,"secondaryinsurancepayer":{"secondarypatientinsuranceid":1562,"status":"CLOSED","note":"The
        ''Current illness date'' has been set to 06\/22\/2016 based on the earliest
        charge on the claim."}}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/claims/301
  recorded_at: Thu, 12 Mar 2020 20:52:11 GMT
recorded_with: VCR 3.0.3
