---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/195900/claims/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sj44cn7rvcwfyuq7fugax7ck
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 3e553519-d579-4f3b-b4a5-6e235a770957
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-62.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":true}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/claims/changed/subscription
  recorded_at: Mon, 16 Mar 2020 18:17:03 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/claims/changed?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sj44cn7rvcwfyuq7fugax7ck
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 0c875618-bf9b-4714-826c-af9b27879984
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-58.mashery.com
    body:
      encoding: UTF-8
      string: '{"claims":[],"totalcount":0}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/claims/changed?departmentid=1
  recorded_at: Mon, 16 Mar 2020 18:17:04 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/claims/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sj44cn7rvcwfyuq7fugax7ck
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - fb7ecef0-d4a5-4a05-ac22-c58473231a6b
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-59.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE","subscriptions":[{"eventname":"UpdateClaim"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/claims/changed/subscription
  recorded_at: Mon, 16 Mar 2020 18:17:04 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/123456/claims/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sj44cn7rvcwfyuq7fugax7ck
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - b1d63d40-7b98-4589-84a1-b87554dae852
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-66.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"INACTIVE","subscriptions":[]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/123456/claims/changed/subscription
  recorded_at: Mon, 16 Mar 2020 18:19:40 GMT
recorded_with: VCR 3.0.3
