---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/misc/commoninsurancepackages?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 7d7105b1-afde-4827-9c4d-55d731f55ea6
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-125.mashery.com
    body:
      encoding: UTF-8
      string: '{"insurancepackages":[{"state":"KY","insurancepackageid":"31724","city":"LEXINGTON","address":"PO
        BOX 14601","name":"HUMANA (PPO) [31724] ","phone":"(800) 558-4444","zip":"40512"}],"totalcount":1}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/misc/commoninsurancepackages?departmentid=1
  recorded_at: Mon, 06 Mar 2017 13:35:13 GMT
recorded_with: VCR 3.0.3
