---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/encounter/35840/diagnoses
    body:
      encoding: US-ASCII
      string: snomedcode=174041007
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 791661e8-5625-4e15-a897-1038ab9bf319
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-68.mashery.com
    body:
      encoding: UTF-8
      string: '{"ranking":0,"success":true,"diagnosisid":15002,"icdcodes":[],"snomedcode":174041007,"description":"Laparoscopic
        emergency appendectomy","supportslaterality":false}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/encounter/35840/diagnoses
  recorded_at: Wed, 10 Apr 2019 09:44:59 GMT
recorded_with: VCR 3.0.3
