---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-107.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 01 Jun 2016 11:43:11 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/patients/1/insurances
    body:
      encoding: US-ASCII
      string: insurancepackageid=0&sequencenumber=1
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - cb8ffabf-5bb1-44ef-adcf-842b0cceea38
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true"}'
      effective_url: https://api.athenahealth.com/preview1/195900/patients/1/insurances
  recorded_at: Wed, 01 Jun 2016 11:43:11 GMT
recorded_with: VCR 3.0.1
