---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-115.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Fri, 19 Feb 2016 12:10:51 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/chart/5640/problems
    body:
      encoding: US-ASCII
      string: departmentid=162&snomedcode=0
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 2ff56de3-c2a1-459b-a557-ec1c1ae2a1f9
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"false","errormessage":"Submitted snomedcode of ''0'' is
        not valid."}'
      effective_url: https://api.athenahealth.com/preview1/195900/chart/5640/problems
  recorded_at: Fri, 19 Feb 2016 12:10:51 GMT
recorded_with: VCR 3.0.1
