---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-55.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"m65gb4x367nryc3kb2r7rwud","token_type":"bearer","expires_in":3600,"refresh_token":"ygfuhteaghn9c6g54ewaa8ry"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Mon, 11 Mar 2019 14:15:46 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/chart/encounter/35713/orders/lab
    body:
      encoding: US-ASCII
      string: ordertypeid=387225
    headers:
      Authorization:
      - Bearer m65gb4x367nryc3kb2r7rwud
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - '08960305-13f6-4f1b-8b1d-86a09a4daa8c'
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-72.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"detailedmessage":"The diagnosis was not found. Please specify an existing diagnosis or add it to the encounter first.","error":"The data provided is invalid."}
      effective_url: https://api.athenahealth.com/preview1/195900/chart/encounter/35713/orders/lab
  recorded_at: Mon, 11 Mar 2019 14:15:47 GMT
recorded_with: VCR 3.0.3
