---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Fri, 19 Feb 2016 11:58:53 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/chart/5309/problems
    body:
      encoding: US-ASCII
      string: departmentid=&snomedcode=
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 4c34b068-62a6-40c0-9d62-8dd63b1b65e9
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-110.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"detailedmessage":"Expecting type integer, but value is ","error":"The data provided is invalid."}
      effective_url: https://api.athenahealth.com/preview1/195900/chart/5309/problems
  recorded_at: Fri, 19 Feb 2016 11:58:54 GMT
recorded_with: VCR 3.0.1
