---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/chart/encounter/35840/diagnoses
    body:
      encoding: US-ASCII
      string: snomedcode=174041007
    headers:
      Authorization:
      - Bearer dmg9hsj3a2nb9gbehyr944xh
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/xml
      WWW-Authenticate:
      - Bearer realm="api.athenahealth.com", error="invalid_token"
      X-Error-Detail-Header:
      - Not Authorized
      X-Mashery-Error-Code:
      - ERR_403_NOT_AUTHORIZED
      X-Mashery-Message-ID:
      - d9f40429-6af3-4abc-891a-684bdc9b3766
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-68.mashery.com
    body:
      encoding: UTF-8
      string: "<h1>Not Authorized</h1>"
      effective_url: https://api.athenahealth.com/preview1/195900/chart/encounter/35840/diagnoses
  recorded_at: Wed, 10 Apr 2019 09:44:57 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-58.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 10 Apr 2019 09:44:57 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/chart/encounter/35840/diagnoses
    body:
      encoding: US-ASCII
      string: snomedcode=174041007
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 791661e8-5625-4e15-a897-1038ab9bf319
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-68.mashery.com
    body:
      encoding: UTF-8
      string: '{"ranking":0,"success":true,"diagnosisid":15002,"icdcodes":[],"snomedcode":174041007,"description":"Laparoscopic
        emergency appendectomy","supportslaterality":false}'
      effective_url: https://api.athenahealth.com/preview1/195900/chart/encounter/35840/diagnoses
  recorded_at: Wed, 10 Apr 2019 09:44:59 GMT
recorded_with: VCR 3.0.3
