---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_access_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 17 Feb 2016 09:07:42 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/patients?firstname=Mateusz&lastname=U.&emai=mat%40u.com&dob=wrong%20date&departmentid=1
    body:
      encoding: US-ASCII
      string: firstname=Mateusz&lastname=U.&emai=mat@u.com&dob=wrong date&departmentid=1
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 96946a91-6ef4-4b65-bf31-7cd5f3a871ba
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-105.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"error":"Improper DOB."}
      effective_url: https://api.athenahealth.com/preview1/195900/patients?firstname=Mateusz&lastname=U.&emai=mat%40u.com&dob=wrong%20date&departmentid=1
  recorded_at: Wed, 17 Feb 2016 09:07:42 GMT
recorded_with: VCR 3.0.1
