---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/chart/encounter/35840/diagnoses
    body:
      encoding: US-ASCII
      string: snomedcode=77777777777
    headers:
      Authorization:
      - Bearer dmg9hsj3a2nb9gbehyr944xh
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/xml
      WWW-Authenticate:
      - Bearer realm="api.athenahealth.com", error="invalid_token"
      X-Error-Detail-Header:
      - Not Authorized
      X-Mashery-Error-Code:
      - ERR_403_NOT_AUTHORIZED
      X-Mashery-Message-ID:
      - 4a9d48ca-b22f-4221-8c78-8609a4e9298b
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-60.mashery.com
    body:
      encoding: UTF-8
      string: "<h1>Not Authorized</h1>"
      effective_url: https://api.athenahealth.com/preview1/195900/chart/encounter/35840/diagnoses
  recorded_at: Wed, 10 Apr 2019 09:46:26 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-61.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 10 Apr 2019 09:46:26 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/chart/encounter/35840/diagnoses
    body:
      encoding: US-ASCII
      string: snomedcode=77777777777
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 4d5628b8-3054-43de-9e05-fc2e7a6d88c2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-68.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"detailedmessage":"SNOMED code not valid.","error":"The data provided is invalid."}
      effective_url: https://api.athenahealth.com/preview1/195900/chart/encounter/35840/diagnoses
  recorded_at: Wed, 10 Apr 2019 09:46:27 GMT
recorded_with: VCR 3.0.3
