---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/appointments/waitlist
    body:
      encoding: UTF-8
      string: dayofweekids[0]=1&dayofweekids[1]=3&dayofweekids[2]=5&departmentid=1&hourfrom=8&hourto=11&note=I
        am asking for several calls, I have a hearing problem.&priority=NORMAL&patientid=7
    headers:
      Authorization:
      - Bearer qn292dv6dhe7rq4ttevgdycw
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/xml
      WWW-Authenticate:
      - Bearer realm="api.athenahealth.com", error="invalid_token"
      X-Error-Detail-Header:
      - Not Authorized
      X-Mashery-Error-Code:
      - ERR_403_NOT_AUTHORIZED
      X-Mashery-Message-ID:
      - 1c6dac7b-1a1e-4a02-bf26-21348e26fb80
      X-Mashery-Responder:
      - prod-j-worker-tlsv1-us-east-1d-04.mashery.com
    body:
      encoding: UTF-8
      string: "<h1>Not Authorized</h1>"
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/waitlist
  recorded_at: Wed, 09 Jan 2019 14:31:34 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-tlsv1-us-east-1e-19.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"8j8hkrq9pcy2jy4x7buzvxks","token_type":"bearer","expires_in":3600,"refresh_token":"uzfwxrnxdxajhfrpe9wffz5g"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 09 Jan 2019 14:31:34 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/appointments/waitlist
    body:
      encoding: UTF-8
      string: dayofweekids[0]=1&dayofweekids[1]=3&dayofweekids[2]=5&departmentid=1&hourfrom=8&hourto=11&note=I
        am asking for several calls, I have a hearing problem.&priority=NORMAL&patientid=7
    headers:
      Authorization:
      - Bearer 8j8hkrq9pcy2jy4x7buzvxks
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 23d412cf-82a2-4d3f-9f62-d73d24b8b853
      X-Mashery-Responder:
      - prod-j-worker-tlsv1-us-east-1e-14.mashery.com
    body:
      encoding: UTF-8
      string: '{"waitlistid":1174}'
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/waitlist
  recorded_at: Wed, 09 Jan 2019 14:31:34 GMT
recorded_with: VCR 3.0.3
