---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 17 Feb 2016 08:54:23 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/patients?departmentid=162
    body:
      encoding: US-ASCII
      string: departmentid=1
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 540923f7-09d5-4fd3-9435-a667dad9a82d
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-115.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"invalidfields":[],"missingfields":["lastname","dob","firstname"],"error":"Additional fields are required."}
      effective_url: https://api.athenahealth.com/preview1/195900/patients?departmentid=162
  recorded_at: Wed, 17 Feb 2016 08:54:23 GMT
recorded_with: VCR 3.0.1
