---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-127.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Mon, 13 Jun 2016 05:03:42 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/appointments/appointmentreminders
    body:
      encoding: US-ASCII
      string: approximatedate=06/27/2016&departmentid=1&patientid=1
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 5e5a0d9c-c969-443b-88ec-aee1943c2e77
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-125.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true","appointmentreminderid":"14334"}'
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/appointmentreminders
  recorded_at: Mon, 13 Jun 2016 05:03:42 GMT
recorded_with: VCR 3.0.1
