---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/appointments/waitlist
    body:
      encoding: UTF-8
      string: dayofweekids[0]=1&dayofweekids[1]=3&dayofweekids[2]=5&hourfrom=8&hourto=11&note=I
        am asking for several calls, I have a hearing problem.&priority=NORMAL
    headers:
      Authorization:
      - Bearer qn292dv6dhe7rq4ttevgdycw
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/xml
      WWW-Authenticate:
      - Bearer realm="api.athenahealth.com", error="invalid_token"
      X-Error-Detail-Header:
      - Not Authorized
      X-Mashery-Error-Code:
      - ERR_403_NOT_AUTHORIZED
      X-Mashery-Message-ID:
      - 006cec7f-3475-40e0-ab81-528fb06ca4b6
      X-Mashery-Responder:
      - prod-j-worker-tlsv1-us-east-1e-17.mashery.com
    body:
      encoding: UTF-8
      string: "<h1>Not Authorized</h1>"
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/waitlist
  recorded_at: Wed, 09 Jan 2019 14:31:34 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-tlsv1-us-east-1e-16.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"bbf84zsfhtrbhwbhwwtewvs8","token_type":"bearer","expires_in":3600,"refresh_token":"n8x3jkr8gzwb6zs5wzg4z5s6"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 09 Jan 2019 14:31:35 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/appointments/waitlist
    body:
      encoding: UTF-8
      string: dayofweekids[0]=1&dayofweekids[1]=3&dayofweekids[2]=5&hourfrom=8&hourto=11&note=I
        am asking for several calls, I have a hearing problem.&priority=NORMAL
    headers:
      Authorization:
      - Bearer bbf84zsfhtrbhwbhwwtewvs8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - d963928c-3c15-4c13-af3a-16036ebb77f8
      X-Mashery-Responder:
      - prod-j-worker-tlsv1-us-east-1b-05.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"missingfields":["patientid","departmentid"],"error":"Additional fields are required."}
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/waitlist
  recorded_at: Wed, 09 Jan 2019 14:31:35 GMT
recorded_with: VCR 3.0.3
