---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-57.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"hs6uq64mfd5cavttegs8gaxc","token_type":"bearer","expires_in":3600,"refresh_token":"g82y6bysnwjgddr6wgrbgcqt"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Mon, 11 Mar 2019 14:15:46 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/chart/encounter/35713/orders/lab
    body:
      encoding: US-ASCII
      string: diagnosissnomedcode=284196006
    headers:
      Authorization:
      - Bearer hs6uq64mfd5cavttegs8gaxc
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 454b7bae-4e89-4586-bdd4-d8d217b6ea85
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-72.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"detailedmessage":"You must specify which lab to order, either via the ordertypeid or a LOINC.","error":"The data provided is invalid."}
      effective_url: https://api.athenahealth.com/preview1/195900/chart/encounter/35713/orders/lab
  recorded_at: Mon, 11 Mar 2019 14:15:46 GMT
recorded_with: VCR 3.0.3
