---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"w3jjz47g3ure3nbt2yztz9ad","token_type":"bearer","expires_in":3600,"refresh_token":"asnq5m4u4wd3mdeptf49h2cq"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 04 May 2016 07:26:28 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/patients/1/documents
    body:
      encoding: US-ASCII
      string: documentsubclass=ADMIN_BILLING&attachmentcontents=file.pdf=application/octet-stream=/home/mateusz/projects/athena_health/spec/fixtures/file.pdf&departmentid=1
    headers:
      Authorization:
      - Bearer w3jjz47g3ure3nbt2yztz9ad
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - b0d87c8f-fe18-420d-941c-b3a80eb1a801
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-118.mashery.com
    body:
      encoding: UTF-8
      string: '{"documentid":"117707"}'
      effective_url: https://api.athenahealth.com/preview1/195900/patients/1/documents
  recorded_at: Wed, 04 May 2016 07:26:34 GMT
recorded_with: VCR 3.0.1
