---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-110.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 17 Feb 2016 10:01:25 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/patients
    body:
      encoding: US-ASCII
      string: departmentid=162
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - bcfbd42f-9ee5-4828-94ed-b5ae100a9b06
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-109.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"invalidfields":[],"missingfields":["lastname","dob","firstname"],"error":"Additional fields are required."}
      effective_url: https://api.athenahealth.com/preview1/195900/patients
  recorded_at: Wed, 17 Feb 2016 10:01:25 GMT
recorded_with: VCR 3.0.1
