---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Tue, 28 Jun 2016 06:16:18 GMT
- request:
    method: delete
    uri: https://api.athenahealth.com/preview1/195900/patients/1/insurances?sequencenumber=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 34812286-986a-4013-bfa4-5bf7c43a8ca3
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-127.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true"}'
      effective_url: https://api.athenahealth.com/preview1/195900/patients/1/insurances?sequencenumber=1
  recorded_at: Tue, 28 Jun 2016 06:16:19 GMT
recorded_with: VCR 3.0.1
