---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/19598472/chart/encounter/42917/questionnairescreeners
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer oMrnCrlMvNfEmk5U9nJwsDDeHUjv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-CH:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-RateLimit-Limit:
      - '50000'
      X-RateLimit-Remaining:
      - '49998'
    body:
      encoding: ASCII-8BIT
      string: '{"questionnairescreeners":[{"metaquestions":[{"questiontext":"Finding"}],"templatetype":"CUSTOM","templateid":1,"questionnaireid":2610,"scoringstatus":"UNSCORED","sections":[{"headertext":"Over
        the last two weeks, how often have you been bothered by any of the following
        problems?","questionlist":[{"key":"LITTLEINTEREST","questionid":1,"possibleanswers":["Not
        at all","Several days","More than half the days","Nearly every day"],"question":"Little
        interest or pleasure in doing things"},{"key":"FEELINGDOWN","questionid":2,"possibleanswers":["Not
        at all","Several days","More than half the days","Nearly every day"],"question":"Feeling
        down, depressed, or hopeless"},{"key":"TROUBLESLEEPING","questionid":3,"possibleanswers":["Not
        at all","Several days","More than half the days","Nearly every day"],"question":"Trouble
        falling or staying asleep, or sleeping too much"},{"key":"FEELINGTIRED","questio[...]
