---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/encounter/28302/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - c6fa2454-cbe3-424c-bc87-e42ddaaaca23
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-121.mashery.com
    body:
      encoding: UTF-8
      string: '[{"orders":[{"status":"REVIEW","description":"Ankle Brace","documentid":"116881","documentationonly":"false","classdescription":"durable
        medical equipment","orderingprovider":"khaworth0","assigneduser":"khaworth0","dateordered":"03\/30\/2016
        05:46 AM","class":"DME"}],"diagnosis":"Carpal tunnel syndrome","diagnosissnomed":"57406009"}]'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/encounter/28302/orders
  recorded_at: Wed, 30 Mar 2016 13:15:11 GMT
recorded_with: VCR 3.0.1
