---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/encounter/28302/orders/116881
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 0d52e0cd-2bd9-493c-a317-72b6e4a337f8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"REVIEW","documents":[],"class":"DME","ordertype":"DME","description":"Ankle
        Brace"}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/encounter/28302/orders/116881
  recorded_at: Wed, 30 Mar 2016 13:31:55 GMT
recorded_with: VCR 3.0.1
