---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/encounters/28302/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b92qx68auu4rzatxcyknncwz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 1609a9a5-3b4c-4e98-847e-9a3e3d7e05e2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-127.mashery.com
    body:
      encoding: UTF-8
      string: '{"summaryhtml":"<html><div class=\"clinicalsummary\" id=\"SUMMARYCONTAINER\"
        sectionname=\"Patient\"><div id=\"SUMMARYHEADER\"><span class=\"clinicalsubsubheading\">Patient<\/span><\/div><div
        class=\"\" id=\"SUMMARYCONTENT\" sectionname=\"Patient\"><a id=\"Patient_Summary\"
        name=\"Patient_Summary\"><\/a><table class=\"clinicalsummary\" style=\"table-layout:
        fixed;\"><tr><th>Name <td>KNARR, ALAN (27yo, F) ID# 1 <th>Appt. Date\/Time
        <td>03\/18\/2015 08:30AM <tr><th>DOB <td>01\/01\/1990 <th>Service Dept. <td>ST
        FRANCIS SURGERY <tr><th>Provider <td colspan=\"3\">KANDI HAWORTH, MD <tr><th>Insurance
        <td colspan=\"3\"><div class=\"itemcontainer\" style=\"font-size: 12px; padding-left:
        15px;\"><div class=\"item\">Med Primary: CIGNA HEALTHCARE (HMO)<br \/> Insurance
        # : 1 <\/div><div class=\"item\">Med Secondary: HUMANA (PPO)<br \/> Insurance
        # : 123456789 <\/div><div class=\"item\">Med Payment plan: PAYMENT PLAN #262<br
        \/> Insurance # : 123456789 <\/div><div class=\"item\">Med Payment plan: PAYMENT
        PLAN #583 <\/div><\/div><\/td><\/th><\/tr><\/td><\/th><\/tr><\/td><\/th><\/td><\/th><\/tr><\/td><\/th><\/td><\/th><\/tr><\/table><\/div><\/div><div
        class=\"clinicalsummary\" id=\"SUMMARYCONTAINER\" sectionna[...]
