---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 30 Mar 2016 12:41:06 GMT
- request:
    method: get
    uri: https://api.athenahealth.com/preview1/195900/chart/encounter/28302
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - dfad5a24-8014-4f93-beca-af02c19752ef
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
    body:
      encoding: UTF-8
      string: '[{"encountertype":"VISIT","patientstatusid":"3","stage":"EXAM","status":"OPEN","appointmentid":"500136","patientlocationid":"21","encounterdate":"03\/18\/2015","encountervisitname":"physical
        exam","patientlocation":"Patient Rm. 1","encounterid":"28302","lastupdated":"03\/31\/2015","patientstatus":"Ready
        For Provider"}]'
      effective_url: https://api.athenahealth.com/preview1/195900/chart/encounter/28302
  recorded_at: Wed, 30 Mar 2016 12:41:06 GMT
recorded_with: VCR 3.0.1
