---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/encounter/28302
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - dfad5a24-8014-4f93-beca-af02c19752ef
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
    body:
      encoding: UTF-8
      string: '[{"encountertype":"VISIT","patientstatusid":"3","stage":"EXAM","status":"OPEN","appointmentid":"500136","patientlocationid":"21","encounterdate":"03\/18\/2015","encountervisitname":"physical
        exam","patientlocation":"Patient Rm. 1","encounterid":"28302","lastupdated":"03\/31\/2015","patientstatus":"Ready
        For Provider"}]'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/encounter/28302
  recorded_at: Wed, 30 Mar 2016 12:41:06 GMT
recorded_with: VCR 3.0.1
