---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/appointments/150777
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - b09cd048-d264-4f62-8bc1-9a29f3a2170e
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-125.mashery.com
    body:
      encoding: UTF-8
      string: '[{"date":"06\/02\/2016","appointmentid":"150777","starttime":"12:00","departmentid":"1","appointmentstatus":"2","patientid":"7","duration":"5","encounterid":"42","startcheckin":"06\/02\/2016
        16:04:31","copay":0,"renderingproviderid":"1","appointmenttypeid":"3","appointmenttype":"VIDEOCHAT","encounterstatus":"CHECKEDOUT","providerid":"1","stopcheckin":"06\/02\/2016
        16:06:37","patientappointmenttypename":"VIDEO CHAT"}]'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/appointments/150777
  recorded_at: Fri, 10 Jun 2016 06:28:57 GMT
recorded_with: VCR 3.0.1
