---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/departments/162
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 71247ed1-5d8b-45cc-9272-1e9b807d0e08
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-105.mashery.com
    body:
      encoding: UTF-8
      string: '[{"creditcardtypes":["AX","DS","MC","VI"],"medicationhistoryconsent":"false","timezoneoffset":-5,"providergroupid":"1","singleappointmentcontractmax":"3000","state":"NY","portalurl":"1959-1-practice-home-url","city":"BALLSTON
        SPA","placeofservicefacility":"false","oneyearcontractmax":"1500","providergroupname":"Downtown
        Health Group","doesnotobservedst":"false","departmentid":"162","address":"8762
        STONERIDGE CT","placeofservicetypeid":"11","clinicals":"OFF","timezone":-5,"patientdepartmentname":"Main
        Office","name":"MERCY HOSPITAL","placeofservicetypename":"OFFICE","phone":"(555)
        946-3582","ecommercecreditcardtypes":["AX","DS","MC","VI"],"zip":"12020","communicatorbrandid":"1"}]'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/departments/162
  recorded_at: Tue, 16 Feb 2016 11:10:44 GMT
recorded_with: VCR 3.0.1
