---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/patients/5309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - c8f289ee-53fb-40bb-be4a-07ad8d215111
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-110.mashery.com
    body:
      encoding: UTF-8
      string: '[{"email":"monroe86@hotmail.com","occupationcode":null,"departmentid":"162","homephone":"6102569611","guarantorstate":"GA","portalaccessgiven":"false","driverslicense":"false","workphone":"7257089299","ethnicitycode":null,"industrycode":null,"contacthomephone":null,"guarantorssn":"*****6481","guarantordob":"11\/24\/1976","zip":"13323-6882","guarantoraddresssameaspatient":"false","employerphone":null,"contactmobilephone":null,"nextkinphone":null,"portaltermsonfile":"false","status":"active","lastname":"McCullough","guarantorfirstname":"Nicklaus","city":"DEVYNMOUTH","ssn":"*****4181","guarantoremail":"jacky.dubuque@gmail.com","guarantorcity":"SOUTH
        GREGORYMOUTH","guarantorzip":"96049","privacyinformationverified":"false","primarydepartmentid":"162","balances":[{"balance":0,"departmentlist":"1,21,102,145,148,150,157,162","providergroupid":"1","cleanbalance":"true"}],"race":[],"language6392code":null,"primaryproviderid":"","patientphoto":"false","caresummarydeliverypreference":null,"guarantorlastname":"West","firstname":"Etha","guarantorcountrycode":"USA","state":"CO","patientid":"5309","dob":"12\/05\/1937","guarantorrelationshiptopatient":"13","address1":"198
        Emard Cove Apt. 230","guarantorphone":null,"countrycode":"USA","guarantoraddress1":"740
        Pauline Mission","consenttotext":"false","countrycode3166":"US","guarantorcountrycode3166":"US"}]'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/patients/5309
  recorded_at: Wed, 17 Feb 2016 07:09:37 GMT
recorded_with: VCR 3.0.1
