---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/practiceinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 44911b03-c0f1-4c05-96b2-10a370e56fa3
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-119.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":1,"practiceinfo":[{"iscoordinatorsender":"false","hasclinicals":"true","name":"athenahealth
        MDP Sandbox","hascommunicator":"true","iscoordinatorreceiver":"false","hascollector":"true","publicnames":["Blackstone
        Valley Medical Group Public Facing Name","Communicator Care Team","TEST"],"practiceid":"195900"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/practiceinfo
  recorded_at: Mon, 15 Feb 2016 19:53:58 GMT
recorded_with: VCR 3.0.1
