---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/providers/86
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - aee29f45-3f6f-4479-abcf-bae1fd0ad90d
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
    body:
      encoding: UTF-8
      string: '[{"firstname":"Terry","specialty":"Internal Medicine","acceptingnewpatients":"false","providertypeid":"MD","billable":"false","ansinamecode":"Allopathic
        & Osteopathic Physicians : Family Practice (207Q00000X)","lastname":"Ahmad","providerid":"86","ansispecialtycode":"207Q00000X","hideinportal":"false","entitytype":"Person","providertype":"MD"}]'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/providers/86
  recorded_at: Thu, 25 Feb 2016 14:23:15 GMT
recorded_with: VCR 3.0.1
