---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Fri, 19 Feb 2016 14:22:04 GMT
- request:
    method: get
    uri: https://api.athenahealth.com/preview1/195900/chart/5309/problems?departmentid=162
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 165c93bf-8b62-4ff5-9b97-882ac8828fdd
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastupdated":"02\/19\/2016","totalcount":1,"problems":[{"problemid":"7128","events":[{"source":"HISTORY","eventtype":"START","startdate":"02\/19\/2016","diagnoses":[]}],"codeset":"SNOMED","name":"Carpal
        tunnel syndrome","code":"57406009"}]}'
      effective_url: https://api.athenahealth.com/preview1/195900/chart/5309/problems?departmentid=162
  recorded_at: Fri, 19 Feb 2016 14:22:04 GMT
recorded_with: VCR 3.0.1
