---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/patients/enhancedbestmatch?firstname=Test&lastname=Patient&dob=01%2F01%2F1950
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer h9tfm4t55e2dnmx6eef2y295
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 23409740-0ed7-4f91-890c-096fb944c049
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-104.mashery.com
    body:
      encoding: UTF-8
      string: '[{"departmentid":"1","portalaccessgiven":"false","driverslicense":"false","zip":"02453","guarantoraddresssameaspatient":"false","portaltermsonfile":"false","status":"active","lastname":"Patient","privacyinformationverified":"false","primarydepartmentid":"1","balances":[{"balance":0,"departmentlist":"1,21,102,145,148,150,157,162","providergroupid":"1","cleanbalance":"true"}],"patientphoto":"false","hasmobile":"false","firstname":"Test","guarantorcountrycode":"USA","patientid":"19844","dob":"01\/01\/1950","guarantorrelationshiptopatient":"1","score":"23","countrycode":"USA","consenttotext":"false","countrycode3166":"US","guarantorcountrycode3166":"US"}]'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/patients/enhancedbestmatch?firstname=Test&lastname=Patient&dob=01%2F01%2F1950
  recorded_at: Tue, 09 Aug 2016 19:31:12 GMT
recorded_with: VCR 3.0.3
