---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/appointments/appointmentreminders/13492
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - aecc964b-5dbe-43f8-b710-be5c12be6f97
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
    body:
      encoding: UTF-8
      string: '{"departmentid":"1","approximatedate":"06\/02\/2016","patientid":"3282","appointmentreminderid":"13492","status":"Scheduled","appointmenttypeid":"4","providerid":"71"}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/appointments/appointmentreminders/13492
  recorded_at: Mon, 13 Jun 2016 04:50:14 GMT
recorded_with: VCR 3.0.1
