---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/appointments/booked/multipledepartment?departmentid=1%2C2%2C3&startdate=04%2F30%2F2016&enddate=04%2F30%2F2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 916807fa-16f7-464f-82d7-dd1755d56469
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":20,"appointments":[{"date":"04\/30\/2016","appointmentid":"659585","patientlocationid":"21","starttime":"08:15","departmentid":"1","appointmentstatus":"2","scheduledby":"API-2834","patientid":"3873","duration":"15","encounterid":"32978","startcheckin":"04\/29\/2016
        07:49:21","templateappointmenttypeid":"82","checkindatetime":"04\/29\/2016
        07:49:24","lastmodifiedby":"API-2834","copay":0,"renderingproviderid":"71","appointmenttypeid":"82","lastmodified":"04\/29\/2016
        07:49:24","appointmenttype":"Any 15","encounterstatus":"READYFORSTAFF","providerid":"71","stopcheckin":"04\/29\/2016
        07:49:24","scheduleddatetime":"04\/29\/2016 06:22:41","coordinatorenterprise":"false","templateappointmentid":"659585","patientappointmenttypename":"Established
        Patient"},{"date":"04\/30\/2016","appointmentid":"660091","starttime":"08:45","departmentid":"1","appointmentstatus":"f","scheduledby":"API-1999","patientid":"2269","duration":"60","templateappointmenttypeid":"82","lastmodifiedby":"API-1999","copay":0,"appointmenttypeid":"6","lastmodified":"04\/27\/2016
        09:23:05","appointmenttype":"Surgery","providerid":"71","scheduleddatetime":"04\/27\/2016
        09:23:05","coordinatorenterprise":"false","templateappointmentid":"6[...]
