---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/appointments/open?reasonid=563&providerid=71&departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer yc7akfjk6mqtu7a877qfc26u
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - a92933ef-5098-4fe8-8ae9-c3ae40c086dc
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":131,"appointments":[{"date":"04\/08\/2016","appointmentid":"659568","departmentid":"1","appointmenttype":"Any
        15","providerid":"71","starttime":"08:15","duration":"15","appointmenttypeid":"82","reasonid":["563"],"patientappointmenttypename":"Established
        Patient"},{"date":"04\/08\/2016","appointmentid":"660321","departmentid":"1","appointmenttype":"Any
        15","providerid":"71","starttime":"09:00","duration":"15","appointmenttypeid":"82","reasonid":["563"],"patientappointmenttypename":"Established
        Patient"},{"date":"04\/08\/2016","appointmentid":"661338","departmentid":"1","appointmenttype":"Any
        15","providerid":"71","starttime":"10:00","duration":"15","appointmenttypeid":"82","reasonid":["563"],"patienta[...]
