---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-106.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Fri, 11 Mar 2016 11:11:19 GMT
- request:
    method: get
    uri: https://api.athenahealth.com/preview1/195900/appointments/open?departmentid=1&providerid=71&reasonid=563
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - b4c5a223-32a4-472a-84dd-091df2905257
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":131,"appointments":[{"date":"03\/13\/2016","appointmentid":"659551","departmentid":"1","appointmenttype":"Any
        15","providerid":"71","starttime":"08:15","duration":"15","appointmenttypeid":"82","reasonid":["563"],"patientappointmenttypename":"Established
        Patient"},{"date":"03\/13\/2016","appointmentid":"660566","departmentid":"1","appointmenttype":"Any
        15","providerid":"71","starttime":"09:15","duration":"15","appointmenttypeid":"82","reasonid":["563"],"patientappointmenttypename":"Established
        Patient"},{"date":"03\/13\/2016","appointmentid":"660808","departmentid":"1","appointmenttype":"Any
        15","providerid":"71","starttime":"09:30","duration":"15","appointmenttypeid":"82","reasonid":["563"],"patienta[...]
