---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/1/encounters?departmentid=162
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 4ce8aab0-1dbd-4e7c-ba5d-8b824f15b71a
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: '{"encounters":[{"encountertype":"VISIT","patientstatusid":"1","stage":"INTAKE","status":"OPEN","appointmentid":"660784","patientlocationid":"21","encounterdate":"02\/02\/2016","encountervisitname":"Any
        15","patientlocation":"Patient Rm. 1","encounterid":"32705","lastupdated":"02\/01\/2016","patientstatus":"Ready
        For Staff"},{"encountertype":"VISIT","patientstatusid":"1","stage":"INTAKE","status":"OPEN","appointmentid":"652990","patientlocationid":"21","encounterdate":"02\/02\/2016","encountervisitname":"Sick
        Visit","patientlocation":"Patient Rm. 1","encounterid":"32708","lastupdated":"02\/02\/2016","patientstatus":"Ready
        For Staff"},{"encountertype":"VISIT","patientstatusid":"1","stage":"INTAKE","status":"OPEN","appointmentid":"662275","patientlocationid":"21","encounterda[...]
