---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/problems/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer k7y4ayfpypvn992r65y4gkbr
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 21b4a1c1-89fd-448b-9559-a785ccc175f7
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-59.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":true}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/problems/changed/subscription
  recorded_at: Wed, 11 Mar 2020 20:33:24 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/123456/chart/healthhistory/problems/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer k7y4ayfpypvn992r65y4gkbr
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - c6c6b496-6e11-4dcf-8c13-09883ba1ed66
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-68.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"INACTIVE","subscriptions":[]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/123456/chart/healthhistory/problems/changed/subscription
  recorded_at: Wed, 11 Mar 2020 20:33:25 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/problems/changed?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer k7y4ayfpypvn992r65y4gkbr
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 96c3dd73-734c-4c95-a7e6-b84534012a52
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-53.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":0,"problems":[]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/problems/changed?departmentid=1
  recorded_at: Wed, 11 Mar 2020 20:40:28 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/problems/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer k7y4ayfpypvn992r65y4gkbr
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 69122968-b68d-48f2-8f31-bfca8daa34f4
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-61.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE","subscriptions":[{"eventname":"ProblemAdd"},{"eventname":"ProblemUpdate"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/problems/changed/subscription
  recorded_at: Wed, 11 Mar 2020 20:40:28 GMT
recorded_with: VCR 3.0.3
