---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/1/medicalhistory?departmentid=162
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 37fbd897-f0c2-454b-af79-b87444b0f616
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: '{"questions":[{"question":"dementia","answer":"N","questionid":"101"},{"question":"Diabetes
        Type I","answer":"N","questionid":"45"},{"question":"Meniere''s disease","answer":"N","questionid":"155"},{"question":"Tuberculosis","answer":"N","questionid":"27"},{"question":"Neurologic
        Disorder","answer":"N","questionid":"135"},{"question":"Atrial Fibrillation","answer":"N","questionid":"144"},{"question":"Deep
        Vein Thrombosis","answer":"N","questionid":"37"},{"question":"Anxiety Disorder","answer":"N","questionid":"21"},{"question":"Hyper[...]
