---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/patients/1/appointments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 7b4e72a8-eab7-4615-bbfd-762ab44694ae
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-108.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":5,"appointments":[{"date":"04\/07\/2016","copay":0,"appointmenttypeid":"1","appointmentid":"660077","appointmenttype":"Follow
        Up","starttime":"08:45","patientappointmenttypename":"Follow Up Appointment","departmentid":"1","providerid":"71","appointmentstatus":"f"},{"date":"04\/07\/2016","copay":0,"appointmenttypeid":"82","appointmentid":"659324","appointmenttype":"Any
        15","starttime":"08:00","patientappointmenttypename":"Established Patient","departmentid":"1","providerid":"71","appointmentstatus":"f"},{"date":"04\/08\/2016","copay":0,"appointmenttypeid":"82","appointmentid":"661338","appointmenttype":"Any
        15","starttime":"10:00","patientappointmenttypename":"Established Patient","departmentid":"1","providerid":"71","appointmentstatus":"f"},{"date":"04\/08\/2016","copay":0,"appointmenttypeid":"82","appointmentid":"660321","appointmenttype":"Any
        15","starttime":"09:00","patientappointmenttypename":"Established Patient","departmentid":"1","providerid":"71","appointmentstatus":"f"},{"date":"04\/08\/2016","copay":0,"appointmenttypeid":"82","appointmentid":"659568","appointmenttype":"Any
        15","starttime":"08:15","patientappointmenttypename":"Established Patient","departmentid":"1","providerid":"71","appointmentstatus":"f"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/patients/1/appointments
  recorded_at: Thu, 07 Apr 2016 12:55:50 GMT
recorded_with: VCR 3.0.1
