---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/1/pharmacies/preferred?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer j6abg7tradvssnvumrhr3cg3
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 2564e2d7-f7d9-4b4a-a815-7efcd3a5603b
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
    body:
      encoding: UTF-8
      string: '{"pharmacies":[{"state":"NY","city":"New York","clinicalproviderid":"11242674","zip":"11235","phonenumber":"2122654500","clinicalprovidername":"Himani
        Shishodia","address1":"645 10th Ave","faxnumber":"2122658900"}],"totalcount":1}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/1/pharmacies/preferred?departmentid=1
  recorded_at: Thu, 21 Apr 2016 09:24:52 GMT
recorded_with: VCR 3.0.1
