---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/195900/patients/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wbbdxswq2k5apunamqky5ham
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 0dbb97f7-f121-4680-97e8-f7b6564a6f21
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-65.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":true}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/patients/changed/subscription
  recorded_at: Wed, 11 Mar 2020 18:27:51 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/patients/changed?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wbbdxswq2k5apunamqky5ham
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - ce4baacd-095a-466d-9f7d-ab6012baa9b3
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-52.mashery.com
    body:
      encoding: UTF-8
      string: '{"patients":[],"totalcount":0}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/patients/changed?departmentid=1
  recorded_at: Wed, 11 Mar 2020 18:30:59 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/patients/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wbbdxswq2k5apunamqky5ham
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 1a55071d-4df1-4f9c-ab1f-1110c43ec33b
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-51.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE","subscriptions":[{"eventname":"AddPatient"},{"eventname":"DeletePatient"},{"eventname":"UpdatePatient"},{"eventname":"MergePatient"},{"eventname":"UpdatePatientCustomField"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/patients/changed/subscription
  recorded_at: Wed, 11 Mar 2020 18:35:09 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/123/patients/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wbbdxswq2k5apunamqky5ham
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - ed16c182-59ba-43c9-8882-8379cbf1e6dc
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-72.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"INACTIVE","subscriptions":[]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/123/patients/changed/subscription
  recorded_at: Wed, 11 Mar 2020 18:40:54 GMT
recorded_with: VCR 3.0.3
