---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Thu, 16 Jun 2016 07:22:18 GMT
- request:
    method: get
    uri: https://api.athenahealth.com/preview1/195900/patients/51/insurances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - fcd6460f-5120-4cdf-bf75-6392a3da83c3
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-108.mashery.com
    body:
      encoding: UTF-8
      string: '{"insurances":[{"insurancepolicyholdercountrycode":"USA","sequencenumber":"1","insuranceplanname":"THE
        1199 NATIONAL BENEFIT FUND - QUALCARE (PPO)","insurancetype":"Commercial","insurancepolicyholderlastname":"ZYWNL","insurancephone":"(888)
        819-1199","insuranceidnumber":"232323232","relationshiptoinsuredid":"1","insuranceid":"63","insurancepolicyholder":"WOJTEK
        ZYWNL","insurancepolicyholderdob":"06\/07\/1993","eligibilitylastchecked":"06\/15\/2016","relationshiptoinsured":"Self","eligibilitystatus":"Eligible","insurancepolicyholderfirstname":"WOJTEK","insurancepackageid":"89474","insurancepolicyholdersex":"F","eligibilityreason":"Athena","insurancepolicyholdercountryiso3166":"US","eligibilitymessage":"Member
        is eligible.","ircname":"1199 National Benefit Fund"}],"totalcount":1}'
      effective_url: https://api.athenahealth.com/preview1/195900/patients/51/insurances
  recorded_at: Thu, 16 Jun 2016 07:22:18 GMT
recorded_with: VCR 3.0.1
