---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/patients/1/documents/prescription?departmentid=162
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8brgmhkj4c7xmtstdpmzhsk6
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 551796f2-0b92-453f-b4d2-cb33ddec46e0
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":1,"prescriptions":[{"prescriptionid":"107266","priority":"2","assignedto":"wcenteno0","documentclass":"PRESCRIPTION","createddatetime":"2015-05-20T13:39:21-04:00","documentroute":"FAX","documentsource":"UPLOAD","createddate":"05\/20\/2015","status":"DATAENTRY","documentdescription":"prescription
        - renewal","encounterdate":"05\/20\/2015","lastmodifieddatetime":"2015-05-20T13:39:21-04:00","documentsubclass":"PRESCRIPTION_RENEWAL"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/patients/1/documents/prescription?departmentid=162
  recorded_at: Tue, 12 Apr 2016 11:01:26 GMT
recorded_with: VCR 3.0.1
