---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/1/medications?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - d196ddb9-c6e8-4866-be03-8f0c0f6a34b7
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-105.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastupdated":"06\/03\/2016","medications":[[{"source":"Kandi Haworth,
        MD","orderingmode":"PRESCRIBE","createdby":"API-3597","isstructuredsig":"true","medicationid":"236346","refillsallowed":"0","route":"FAX","encounterid":"33016","issafetorenew":"true","medicationentryid":"C118016","structuredsig":{"dosageroute":"oral","dosageaction":"TAKE","dosageadditionalinstructions":"in
        the morning","dosagefrequencyunit":"per day","dosagequantityunit":"mg","dosagequantityvalue":"75","dosagedurationunit":"day"},"events":[{"eventdate":"06\/02\/2016","type":"ENTER"}],"medication":"Plavix
        75 mg tablet","unstructuredsig":"Take 75 mg by oral route in the morning."},{"source":"Kandi
        Haworth, MD","orderingmode":"PRESCRIBE","createdby":"API-3597","isstructuredsig":"true","medicationid":"236346","refillsallowed":"0","route":"FAX","encounterid":"33016","issafetorenew":"true","medicationentryid":"C118017","structuredsig":{"dosageroute":"oral","dosageaction":"TAKE","dosageadditionalinstructions":"in
        the morning","dosagedurationvalue":"1","dosagefrequencyunit":"per day","dosagequantityunit":"mg","dosagequantityvalue":"75","dosagedurationunit":"day"},"events":[{"eventdate":"06\/02\/2016","type":"ENTER"}],"medication":"Plavix
        75 mg tablet","unstructuredsig":"Take 75 mg by oral route in the morning for
        1 day."},{"source":"Kandi Haworth, MD","orderingmode":"PRESCRIBE","createdby":"API-3597","isstructuredsig":"true","medicationid":"236346","refillsallowed":"0","route":"FAX","encounterid":"33016","issafetorenew":"true","medicationentryid":"C118018","structuredsig":{"dosageroute":"oral","dosageaction":"TAKE","dosageadditionalinstructions":"in
        the morning","dosagedurationvalue":"1","dosagefrequencyunit":"per day","dosagequantityunit":"mg","dosagequantityvalue":"75","dosagedurationunit":"day"},"events":[{"eventdate":"06\/02\/2016","type":"ENTER"}],"medication":"Plavix
        75 mg tablet","unstructuredsig":"Take 75 mg by oral route in the morning for
        1 day."},{"source":"Kandi Haworth, MD","orderingmode":"PRESCRIBE","createdby":"API-3597","isstructuredsig":"true","medicationid":"236346","refillsallowed":"0","route":"FAX","encounterid":"33016","issafetorenew":"true","medicationentryid":"C118020","structuredsig":{"dosagefrequencyvalue":"24","dosageroute":"oral","dosageaction":"TAKE","dosageadditionalinstructions":"in
        the morning","dosagedurationvalue":"1","dosagefrequencyunit":"per day","dosagequantityunit":"mg","dosagequantityvalue":"75","dosagefrequencydescription":"every
        hour","dosagedurationunit":"day"},"events":[{"eventdate":"06\/02\/2016","type":"ENTER"}],"medication":"Plavix
        75 mg tablet","unstructuredsig":"Take 75 mg every hour by oral route in the
        morning for 1 day."},{"source":"Kandi Haworth, MD","orderingmode":"PRESCRIBE","createdby":"API-3597","isstructuredsig":"true","medicationid":"236346","refillsallowed":"0","route":"FAX","encounterid":"33016","issafetorenew":"true","medicationentryid":"C118014","structuredsig":{"dosag[...]
