---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/1/labresults?departmentid=162
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_acces_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 4f2dbe92-7d73-44d5-99da-6bf51767d412
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-124.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":41,"results":[{"labresultnote":"sample note","labresultid":"2563","analytes":[{"analytename":"CBC","analyteid":"1","description":"LOINC","analytedate":"10\/02\/2009"}],"description":"lab
        result"},{"labresultnote":"sample note","labresultid":"2663","analytes":[],"description":"chem
        7 profile (renal)"},{"labresultnote":"sample note","labresultid":"2803","analytes":[{"analytename":"some
        lab","analyteid":"121","description":"LOINC","analytedate":"10\/09\/2009"}],"description":"lab
        result"},{"labresultnote":"sample note","labresultid":"3265","analytes":[],"description":"lab
        result"},{"labresultnote":"sample n[...]
