---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"a2mp2zteyhvysubxcc7tw7yu","token_type":"bearer","expires_in":3600,"refresh_token":"r7nfxc7ezt7e88tbsf6pknzz"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Thu, 21 Apr 2016 08:09:00 GMT
- request:
    method: get
    uri: https://api.athenahealth.com/preview1/195900/chart/1/pharmacies/default?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a2mp2zteyhvysubxcc7tw7yu
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 55e6c3f9-44bd-4a80-b31a-2141d338b38b
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-105.mashery.com
    body:
      encoding: UTF-8
      string: '{"state":"NY","city":"New York","clinicalproviderid":"11242674","zip":"11235","phonenumber":"2122654500","clinicalprovidername":"Himani
        Shishodia","address1":"645 10th Ave","faxnumber":"2122658900"}'
      effective_url: https://api.athenahealth.com/preview1/195900/chart/1/pharmacies/default?departmentid=1
  recorded_at: Thu, 21 Apr 2016 08:09:01 GMT
recorded_with: VCR 3.0.1
