---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Thu, 31 Mar 2016 07:40:29 GMT
- request:
    method: get
    uri: https://api.athenahealth.com/preview1/195900/patients/1/documents/prescriptions?departmentid=162
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - b34b7958-0517-4930-a6ea-67a9f3d9df42
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":1,"prescriptions":[{"prescriptionid":"107266","priority":"2","assignedto":"wcenteno0","documentclass":"PRESCRIPTION","createddatetime":"2015-05-20T13:39:21-04:00","documentroute":"FAX","documentsource":"UPLOAD","createddate":"05\/20\/2015","status":"DATAENTRY","documentdescription":"prescription
        - renewal","encounterdate":"05\/20\/2015","lastmodifieddatetime":"2015-05-20T13:39:21-04:00","documentsubclass":"PRESCRIPTION_RENEWAL"}]}'
      effective_url: https://api.athenahealth.com/preview1/195900/patients/1/documents/prescriptions?departmentid=162
  recorded_at: Thu, 31 Mar 2016 07:40:29 GMT
recorded_with: VCR 3.0.1
