---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/allergies/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6rq3c4my7v96e6m9wz93eknz
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 7e254a92-e551-48f2-8303-3fe5f3fe5389
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-66.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":true}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/allergies/changed/subscription
  recorded_at: Wed, 11 Mar 2020 23:54:34 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/allergies/changed?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6rq3c4my7v96e6m9wz93eknz
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - defaad27-ba65-4d38-b260-b01e93216b4f
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-62.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":0,"allergies":[]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/allergies/changed?departmentid=1
  recorded_at: Wed, 11 Mar 2020 23:54:35 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/allergies/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6rq3c4my7v96e6m9wz93eknz
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 1929eedf-4bd1-4735-a332-727194ad80f3
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-58.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE","subscriptions":[{"eventname":"AllergyUpdate"},{"eventname":"AllergyAdd"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/allergies/changed/subscription
  recorded_at: Wed, 11 Mar 2020 23:54:35 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/123456/chart/healthhistory/allergies/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6rq3c4my7v96e6m9wz93eknz
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 896f5179-fdef-498d-b815-240cd4933467
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-69.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"INACTIVE","subscriptions":[]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/123456/chart/healthhistory/allergies/changed/subscription
  recorded_at: Wed, 11 Mar 2020 23:54:35 GMT
recorded_with: VCR 3.0.3
