---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"k2f72qx35gswgb8s74bvzcpp","token_type":"bearer","expires_in":3600,"refresh_token":"y7expay63w8sb5rnpmq8gn4b"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Tue, 03 May 2016 08:39:30 GMT
- request:
    method: get
    uri: https://api.athenahealth.com/preview1/195900/chart/1/labs/default?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer k2f72qx35gswgb8s74bvzcpp
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 6d1f4dfa-5e57-46cf-98af-a7795491868a
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-124.mashery.com
    body:
      encoding: UTF-8
      string: '{"state":"NY","city":"Rochester","acceptfax":"true","clinicalproviderid":"12245521","zip":"14611","phonenumber":"5852473500","clinicalprovidername":"Acm
        Medical Laboratory - Genesee Street PSC","address1":"89 Genesee Street","faxnumber":"5854291220"}'
      effective_url: https://api.athenahealth.com/preview1/195900/chart/1/labs/default?departmentid=1
  recorded_at: Tue, 03 May 2016 08:39:31 GMT
recorded_with: VCR 3.0.1
