---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/1/socialhistory?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 18e58533-d523-424d-99bc-ed56ef808b6d
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
    body:
      encoding: UTF-8
      string: '{"questions":[{"answer":"sdaY","templateid":"78","key":"ADVANCEDIRECTIVE","question":"Advance
        directive","ordering":"11","lastupdated":"05\/19\/2016","questionid":"65"},{"answer":"N","templateid":"78","key":"SEXUALACTIVITY","question":"Sexually
        active?","ordering":"10","lastupdated":"05\/19\/2016","questionid":"57"}],"templates":[{"templatename":"Urology","templateid":"78"},{"templatename":"Meaningful
        Use - Optional","templateid":"2"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/1/socialhistory?departmentid=1
  recorded_at: Thu, 19 May 2016 10:46:45 GMT
recorded_with: VCR 3.0.1
