---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/medication/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer agruf6yb65s3w85h8x45xujx
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 6e6d9a24-0b10-4ff9-a079-b48b2076cb44
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-69.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":true}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/medication/changed/subscription
  recorded_at: Thu, 12 Mar 2020 15:00:14 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/123456/chart/healthhistory/medication/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer agruf6yb65s3w85h8x45xujx
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 0e4e7538-8404-4971-92da-a301f62d6fe8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-69.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"INACTIVE","subscriptions":[]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/123456/chart/healthhistory/medication/changed/subscription
  recorded_at: Thu, 12 Mar 2020 15:01:10 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/medication/changed?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer agruf6yb65s3w85h8x45xujx
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - d674b972-088e-491e-ab8b-b7f636e55ecb
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-71.mashery.com
    body:
      encoding: UTF-8
      string: '{"medications":[],"totalcount":0}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/medication/changed?departmentid=1
  recorded_at: Thu, 12 Mar 2020 15:05:33 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/medication/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer agruf6yb65s3w85h8x45xujx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 85a1690f-8779-44e8-83db-48007c38d9fd
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-61.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE","subscriptions":[{"eventname":"MedicationHxAdd"},{"eventname":"MedicationHxUpdate"},{"eventname":"MedicationHxDelete"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/healthhistory/medication/changed/subscription
  recorded_at: Thu, 12 Mar 2020 15:05:33 GMT
recorded_with: VCR 3.0.3
