---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/patients/23/documents/labresult/306
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer tdvbgeanw3v9zjwq7k749vyu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 44e0cc3e-8779-4c7b-9ab2-8e3a233d1246
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-121.mashery.com
    body:
      encoding: UTF-8
      string: '[{"priority":"2","assignedto":"arastinehad1","observationdate":"07\/06\/2016","documentclass":"LABRESULT","createddatetime":"2016-07-12T12:39:08-04:00","departmentid":"1","labresultid":"306","documenttypeid":"342158","internalnote":"Internal
        Note by Wojtek","observations":[{"resultstatus":"final","analytename":"maciek
        test analyte","value":"1234","note":"test note by wojtek","abnormalflag":"normal","analyteid":"24"},{"resultstatus":"final","analytename":"maciek
        test analyte 2","referencerange":"2323","note":"test note 2 by wojtek","abnormalflag":"positive","analyteid":"53","units":"mol"}],"createduser":"mzywno2","description":"HIV
        (1+2) Ab screen, serum","documentroute":"FAX","patientnote":"Note to Patien
        by Wojtek","documentsource":"UPLOAD","createddate":"07\/12\/2016","reportstatus":"partial","pages":[],"lastmodifieduser":"mzywno1","status":"REVIEW","observationdatetime":"2016-07-06T00:00:00-04:00","resultstatus":"partial","providerid":"1","externalaccessionid":"000111","encounterdate":"07\/06\/2016","providerusername":"arastinehad1","lastmodifieddatetime":"2016-07-18T09:14:02-04:00","labresultloinc":"7918-6","lastmodifieddate":"07\/18\/2016"}]'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/patients/23/documents/labresult/306
  recorded_at: Mon, 08 Aug 2016 10:48:58 GMT
recorded_with: VCR 3.0.1
