---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/patients/1/documents?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 96b2nmadx8zdngqq96gm8hf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 57f698cf-19e5-4112-8ced-abc187ed588b
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-107.mashery.com
    body:
      encoding: UTF-8
      string: '{"next":"\/v1\/195900\/patients\/1\/documents?DEPARTMENTID=1&limit=271&offset=1000","documents":[{"priority":"2","assignedto":"jhough7
        STAFF","status":"REVIEW","documentdescription":"admin - consent","documentclass":"ADMIN","createddatetime":"2013-11-13T09:19:09-04:00","encounterdate":"11\/13\/2013","lastmodifieddatetime":"2013-11-13T09:19:09-04:00","adminid":"47887","documentroute":"FAX","documentsubclass":"ADMIN_CONSENT","documentid":"47887","documentsource":"INTERFACE","createddate":"11\/13\/2013"},{"priority":"2","status":"CLOSED","documentdescription":"admin
        - signed forms & letters","documentclass":"ADMIN","createddatetime":"2016-02-02T14:22:14-04:00","encounterdate":"02\/02\/2016","internalnote":"Demographics
        Report","lastmodifieddatetime":"2016-02-02T14:22:16-04:00","adminid":"115789","documentroute":"FAX","documentsubclass":"ADMIN_SIGNEDFORMSLETTERS","documentid":"115789","documentsource":"INTERFACE","createddate":"02\/02\/2016"},{"priority":"2","status":"CLOSED","documentdescription":"appointment
        request","documentclass":"APPOINTMENTREQUEST","createddatetime":"2009-03-25T10:12:11-04:00","encounterdate":"03\/25\/2009","lastmodifieddatetime":"2013-07-26T05:41:00-04:00","appointmentrequestid":"141","documentroute":"INTERFACE","documentid":"141","documentsource":"PORTAL","createddate":"03\/25\/2009"},{"priority":"2","status":"CLOSED","documentdescription":"appointment
        request","documentclass":"APPOINTMENTREQUEST","createddatetime":"2010-04-19T14:18:58-04:00","encounterdate":"04\/19\/2010","internalnote":"sample
        note","lastmodifieddatetime":"2013-07-26T05:41:02-04:00","appointmentrequestid":"7023","documentroute":"FAX","documentid":"7023","documentsource":"PORTAL","crea[...]
