---
http_interactions:
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/chart/1/allergies?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 0eddebfc-e7cb-4149-9150-cf7b104a87e5
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-104.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastupdated":"05\/26\/2016","nkda":"false","sectionnote":"test","allergies":[{"allergenname":"asparaginase","allergenid":"14041","reactions":[]},{"allergenname":"Aspercreme
        with Aloe","allergenid":"24640","reactions":[]},{"allergenname":"Daily Vite
        W\/Minerals","allergenid":"55555","reactions":[{"reactionname":"anaphylaxis","snomedcode":"39579001"}]},{"allergenname":"wasp
        venom","allergenid":"18035","reactions":[]},{"allergenname":"weed pollen","onsetdate":"01\/01\/2010","allergenid":"92193","reactions":[{"reactionname":"chest
        pain","snomedcode":"29857009"}],"note":"about this allergy"},{"allergenname":"deleted\/unknown","allergenid":"213123","reactions":[]},{"allergenname":"deleted\/unknown","allergenid":"3123123","reactions":[]}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/chart/1/allergies?departmentid=1
  recorded_at: Tue, 12 Jul 2016 10:38:57 GMT
recorded_with: VCR 3.0.1
