---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/195900/prescriptions/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6rq3c4my7v96e6m9wz93eknz
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 51994677-7c2c-4873-8773-09841faf9796
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-57.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":true}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/prescriptions/changed/subscription
  recorded_at: Thu, 12 Mar 2020 00:08:01 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/prescriptions/changed?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6rq3c4my7v96e6m9wz93eknz
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 6dc60b20-aa95-4411-8cc8-e0aecdc24ee5
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-57.mashery.com
    body:
      encoding: UTF-8
      string: '{"totalcount":0,"prescriptions":[]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/prescriptions/changed?departmentid=1
  recorded_at: Thu, 12 Mar 2020 00:08:01 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/prescriptions/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6rq3c4my7v96e6m9wz93eknz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 4217c606-7446-4590-a073-a6d4005ed7aa
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-67.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE","subscriptions":[{"eventname":"PrescriptionAdd"},{"eventname":"PrescriptionUpdate"},{"eventname":"PrescriptionDelete"},{"eventname":"PrescriptionRefillAdd"},{"eventname":"PrescriptionReopen"},{"eventname":"PrescriptionPreApproval"},{"eventname":"PrescriptionRefillUpdate"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/prescriptions/changed/subscription
  recorded_at: Thu, 12 Mar 2020 00:08:01 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/123456/prescriptions/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6rq3c4my7v96e6m9wz93eknz
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - dfc2cd6a-4ff7-4635-8ea7-7c3fdfe2fdb3
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-62.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"INACTIVE","subscriptions":[]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/123456/prescriptions/changed/subscription
  recorded_at: Thu, 12 Mar 2020 00:08:02 GMT
recorded_with: VCR 3.0.3
