---
http_interactions:
- request:
    method: post
    uri: https://api.preview.platform.athenahealth.com/v1/195900/providers/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wbbdxswq2k5apunamqky5ham
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - ed7d9d0d-8f2a-430c-a178-8348150e12f0
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-69.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":true}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/providers/changed/subscription
  recorded_at: Wed, 11 Mar 2020 19:03:49 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/providers/changed?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wbbdxswq2k5apunamqky5ham
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - 6080fb39-df3a-49ae-bcc6-063d5d70189c
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-65.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"error":"Changed messages require setup (subscription) that has not been done."}
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/providers/changed?departmentid=1
  recorded_at: Wed, 11 Mar 2020 19:03:49 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/123456/providers/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wbbdxswq2k5apunamqky5ham
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - eafee5ad-9a1a-4d2b-8a30-95816210fa0b
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-58.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"INACTIVE","subscriptions":[]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/123456/providers/changed/subscription
  recorded_at: Wed, 11 Mar 2020 19:03:50 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/providers/changed?departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wbbdxswq2k5apunamqky5ham
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-ID:
      - 4da03080-d949-40d3-b781-1326f1f34cb4
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-67.mashery.com
    body:
      encoding: UTF-8
      string: '{"providers":[],"totalcount":0}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/providers/changed?departmentid=1
  recorded_at: Wed, 11 Mar 2020 19:08:08 GMT
- request:
    method: get
    uri: https://api.preview.platform.athenahealth.com/v1/195900/providers/changed/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wbbdxswq2k5apunamqky5ham
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - f1a86201-572e-43b0-ac01-113640be54ca
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-64.mashery.com
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE","subscriptions":[{"eventname":"ProviderAdd"},{"eventname":"ProviderUpdate"},{"eventname":"ProviderDelete"},{"eventname":"ProviderUndelete"}]}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/providers/changed/subscription
  recorded_at: Wed, 11 Mar 2020 19:18:01 GMT
recorded_with: VCR 3.0.3
