---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 08 Jun 2016 11:18:57 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/patients/1/recordpayment
    body:
      encoding: US-ASCII
      string: departmentid=1&paymentmethod=CASH&copayamount=100
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 651cb069-ec21-4c6a-86a8-6c17b906fb02
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-115.mashery.com
    body:
      encoding: UTF-8
      string: '[{"success":"true","paymentbatchid":"5"}]'
      effective_url: https://api.athenahealth.com/preview1/195900/patients/1/recordpayment
  recorded_at: Wed, 08 Jun 2016 11:18:57 GMT
recorded_with: VCR 3.0.1
