---
http_interactions:
- request:
    method: put
    uri: https://api.preview.platform.athenahealth.com/v1/195900/appointments/185721/reschedule?patientid=1&newappointmentid=204885
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - ad2babbe-dd1d-49fd-9938-2ac5850f4d5a
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-108.mashery.com
    body:
      encoding: UTF-8
      string: '[{"appointmentid":"204885","departmentid":"1","providerid":"","appointmentstatus":"f","duration":"5","patientid":"1","appointmenttypeid":"1"}]'
      effective_url: https://api.preview.platform.athenahealth.com/v1/195900/appointments/185721/reschedule?patientid=1&newappointmentid=204885
  recorded_at: Thu, 09 Jun 2016 11:07:31 GMT
recorded_with: VCR 3.0.1
