---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-109.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Thu, 09 Jun 2016 11:07:30 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/appointments/185721/reschedule?patientid=1&newappointmentid=204885
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
      X-Mashery-Message-ID:
      - ad2babbe-dd1d-49fd-9938-2ac5850f4d5a
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-108.mashery.com
    body:
      encoding: UTF-8
      string: '[{"appointmentid":"204885","departmentid":"1","providerid":"","appointmentstatus":"f","duration":"5","patientid":"1","appointmenttypeid":"1"}]'
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/185721/reschedule?patientid=1&newappointmentid=204885
  recorded_at: Thu, 09 Jun 2016 11:07:31 GMT
recorded_with: VCR 3.0.1
