---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"sek6bhzszxfrjbeud35rqcdg","token_type":"bearer","expires_in":3600,"refresh_token":"ggbrq854z8uu4f37xv39vr2v"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Tue, 03 May 2016 08:46:23 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/chart/1/labs/default?clinicalproviderid=11242674&departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sek6bhzszxfrjbeud35rqcdg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 595f02ac-8f07-4bc0-96f8-263f931e45a4
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true"}'
      effective_url: https://api.athenahealth.com/preview1/195900/chart/1/labs/default?clinicalproviderid=11242674&departmentid=1
  recorded_at: Tue, 03 May 2016 08:46:29 GMT
recorded_with: VCR 3.0.1
