---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-115.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"q5uqwedarzsdb24gfe7xfurg","token_type":"bearer","expires_in":3600,"refresh_token":"d474r8y5f6rbrbkv3m4s7fse"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Thu, 21 Apr 2016 08:31:29 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/chart/1/pharmacies/default?clinicalproviderid=11242674&departmentid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer q5uqwedarzsdb24gfe7xfurg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - d353081f-b45b-4be1-bcf8-c53700b4949e
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true"}'
      effective_url: https://api.athenahealth.com/preview1/195900/chart/1/pharmacies/default?clinicalproviderid=11242674&departmentid=1
  recorded_at: Thu, 21 Apr 2016 08:31:29 GMT
recorded_with: VCR 3.0.1
