---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-119.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 01 Jun 2016 11:01:42 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/appointments/150397/startcheckin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 557dea24-8c96-40f4-9d3c-c8a4c42ddce5
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-124.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true"}'
      effective_url: https://api.athenahealth.com/preview1/195900/appointments/150397/startcheckin
  recorded_at: Wed, 01 Jun 2016 11:01:43 GMT
recorded_with: VCR 3.0.1
