---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-109.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Thu, 26 May 2016 10:06:51 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/chart/1/medicalhistory?departmentid=1&questions=%5B%7B%22questionid%22%3A101%2C%22answer%22%3A%22N%22%7D%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - eadd5617-8c22-43f0-8802-2d348fadeb72
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true"}'
      effective_url: https://api.athenahealth.com/preview1/195900/chart/1/medicalhistory?departmentid=1&questions=%5B%7B%22questionid%22%3A101%2C%22answer%22%3A%22N%22%7D%5D
  recorded_at: Thu, 26 May 2016 10:06:52 GMT
recorded_with: VCR 3.0.1
