---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-107.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Wed, 17 Feb 2016 09:36:02 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/patients/5309?lastname=Urb.
    body:
      encoding: US-ASCII
      string: lastname=Urb.
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 706d6848-f29d-43a5-8f03-8a3a2ffa9d22
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-108.mashery.com
    body:
      encoding: UTF-8
      string: '[{"patientid":"5309"}]'
      effective_url: https://api.athenahealth.com/preview1/195900/patients/21453?lastname=Urb.
  recorded_at: Wed, 17 Feb 2016 09:36:03 GMT
recorded_with: VCR 3.0.1
