---
http_interactions:
- request:
    method: put
    uri: https://api.preview.platform.athenahealth.com/v1/19598472/chart/encounter/42917/questionnairescreeners
    body:
      encoding: US-ASCII
      string: |-
        questionnaireid=2590&documentids=205917&questions=[{
                  "key": "TROUBLERELAXING",
                  "questionid": 14,
                  "answer": "More than half the days",
                  "question": "Trouble relaxing"
              }]&score=1
    headers:
      Authorization:
      - Bearer wNhr4434nC84tZqixRJ1ucPJ7r7f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Accept-CH:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-RateLimit-Limit:
      - '50000'
      X-RateLimit-Remaining:
      - '49982'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true}'
      effective_url: https://api.preview.platform.athenahealth.com/v1/19598472/chart/encounter/42917/questionnairescreeners
  recorded_at: Wed, 01 Feb 2023 20:32:17 GMT
- request:
    method: put
    uri: https://api.preview.platform.athenahealth.com/v1/19598472/chart/encounter/42917/questionnairescreeners
    body:
      encoding: US-ASCII
      string: |-
        questionnaireid=123&documentids=205917&questions=[{
                  "key": "TROUBLERELAXING",
                  "questionid": 14,
                  "answer": "More than half the days",
                  "question": "Trouble relaxing"
              }]&score=1
    headers:
      Authorization:
      - Bearer wNhr4434nC84tZqixRJ1ucPJ7r7f
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Accept-CH:
      - Sec-CH-UA-Platform-Version
      Cneonction:
      - close
      X-RateLimit-Limit:
      - '50000'
      X-RateLimit-Remaining:
      - '49982'
    body:
      encoding: ASCII-8BIT
      string: |2-


        {"detailedmessage":"The questionnaire screener cannot be found.","error":"The data provided is invalid."}
      effective_url: https://api.preview.platform.athenahealth.com/v1/19598472/chart/encounter/42917/questionnairescreeners
  recorded_at: Wed, 01 Feb 2023 20:32:18 GMT
recorded_with: VCR 3.0.3
