---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Thu, 19 May 2016 09:44:08 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/chart/1/socialhistory?departmentid=1&questions=%5B%7B%22key%22%3A%22SEXUALACTIVITY%22%2C%22answer%22%3A%22N%22%7D%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 6a7014dc-0451-41d1-804b-8d4299ed36c6
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-125.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true"}'
      effective_url: https://api.athenahealth.com/preview1/195900/chart/1/socialhistory?departmentid=1&questions=%5B%7B%22key%22%3A%22SEXUALACTIVITY%22%2C%22answer%22%3A%22N%22%7D%5D
  recorded_at: Thu, 19 May 2016 09:44:08 GMT
recorded_with: VCR 3.0.1
