---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-108.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Fri, 02 Dec 2016 08:13:10 GMT
- request:
    method: put
    uri: https://api.athenahealth.com/preview1/195900/chart/1/allergies?nkda=true&departmentid=1&allergies=%5B%7B%22allergenid%22%3A24640%2C%22allergenname%22%3A%22Aspercreme%20with%20Aloe%22%7D%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 2b6283f4-ff34-4ac7-83aa-d4036490a3e4
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-104.mashery.com
    body:
      encoding: UTF-8
      string: '{"success":"true"}'
      effective_url: https://api.athenahealth.com/preview1/195900/chart/1/allergies?nkda=true&departmentid=1&allergies=%5B%7B%22allergenid%22%3A24640%2C%22allergenname%22%3A%22Aspercreme%20with%20Aloe%22%7D%5D
  recorded_at: Fri, 02 Dec 2016 08:13:10 GMT
recorded_with: VCR 3.0.1
