---
http_interactions:
- request:
    method: post
    uri: https://api.athenahealth.com/oauthpreview/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-120.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"refresh_access_token"}'
      effective_url: https://api.athenahealth.com/oauthpreview/token
  recorded_at: Tue, 31 May 2016 12:35:17 GMT
- request:
    method: post
    uri: https://api.athenahealth.com/preview1/195900/patients/1/privacyinformationverified
    body:
      encoding: US-ASCII
      string: departmentid=1
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 7a4a0add-2704-4ae3-955a-96301d17c4f0
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
    body:
      encoding: UTF-8
      string: '[{"success":"true","patientid":"1"}]'
      effective_url: https://api.athenahealth.com/preview1/195900/patients/1/privacyinformationverified
  recorded_at: Tue, 31 May 2016 12:35:26 GMT
recorded_with: VCR 3.0.1
